<template>
  <div class="page-main">
    <div class="hidden md:block relative md:mt-20 lg:mt-6">
      <div class="bg-white pb-12">
        <div class="grid md:grid-cols-5 lg:grid-cols-2 md:px-12 lg:px-24">
          <div class="md:col-span-2 lg:col-span-1"></div>
          <div class="md:col-span-3 lg:col-span-1">
            <div class="text-8xl text-grey-E7E7E7">ATHLETS</div>
            <div class="flex gap-2 mt-12">
              <div class="flex flex-col">
                <div class="text-lg">01</div>
                <div class="border border-blue-603EBE rounded h-1 bg-blue-603EBE"></div>
              </div>
              <div class="text-4xl text-grey-C2C2C2">CONNECTION</div>
            </div>
            <div class="text-xl mt-8">Connect with coaches directly, you can ping coaches to view profile.</div>
          </div>
        </div>
      </div>
      <div class="bg-grey-F5F4F9 py-12">
        <div class="grid md:grid-cols-5 lg:grid-cols-2 md:px-12 lg:px-24">
          <div class="md:col-span-2 lg:col-span-1"></div>
          <div class="md:col-span-3 lg:col-span-1">
              <div class="flex gap-2">
                <div class="flex flex-col">
                  <div class="text-lg">02</div>
                  <div class="border border-blue-603EBE rounded h-1 bg-blue-603EBE"></div>
                </div>
                <div class="text-4xl text-grey-C2C2C2">COLLABORATION</div>
              </div>
              <div class="text-xl mt-8">Work with other student athletes to  increase visability. When you share and like other players videos it will increase your visability as a player. This is the team work aspect to Surface 1.</div>
          </div>
        </div>
      </div>
      <div class="bg-blue-5E3DB3 py-12">
        <div class="grid md:grid-cols-5 lg:grid-cols-2 md:px-12 lg:px-24">
          <div class="md:col-span-2 lg:col-span-1"></div>
          <div class="md:col-span-3 lg:col-span-1">
              <div class="flex gap-2">
                <div class="flex flex-col">
                  <div class="text-lg">03</div>
                  <div class="border border-white rounded h-1 bg-white"></div>
                </div>
                <div class="text-4xl text-grey-C2C2C2">GROWTH</div>
              </div>
              <div class="text-xl mt-8 text-white">Resources and tools for you to get better as a student Athelte. Access to training classes, tutor sessions, etc</div>
          </div>
        </div>
      </div>
      <div class="absolute md:-left-32 md:top-40 lg:top-0 lg:left-12 w-full h-full">
        <img class="md:w-[498px] md:h-[699px] lg:w-[678px] lg:h-[950px]" src="../assets/img/footballer.png" alt="footballer">
      </div>
    </div>

    
    <div class="hidden md:block relative md:mt-20 lg:pt-28">
      <div class="bg-white pb-12">
        <div class="grid md:grid-cols-5 lg:grid-cols-2 md:px-12 lg:px-24">
          <div class="md:col-span-3 lg:col-span-1">
            <div class="text-8xl text-grey-E7E7E7">PLAYERS</div>
            <div class="flex gap-2 mt-12">
              <div class="flex flex-col">
                <div class="text-lg">01</div>
                <div class="border border-blue-603EBE rounded h-1 bg-blue-603EBE"></div>
              </div>
              <div class="text-4xl text-grey-C2C2C2">CONNECTION</div>
            </div>
            <div class="text-xl mt-8">Connect with talented athlete directly, you can watch their skills through video showreels directly from Surface 1.</div>
          </div>
          <div class="md:col-span-2 lg:col-span-1"></div>
        </div>
      </div>
      <div class="bg-grey-F5F4F9 py-12">
        <div class="grid md:grid-cols-5 lg:grid-cols-2 md:px-12 lg:px-24">
          <div class="md:col-span-3 lg:col-span-1">
              <div class="flex gap-2">
                <div class="flex flex-col">
                  <div class="text-lg">02</div>
                  <div class="border border-blue-603EBE rounded h-1 bg-blue-603EBE"></div>
                </div>
                <div class="text-4xl text-grey-C2C2C2">COLLABORATION</div>
              </div>
              <div class="text-xl mt-8">Work with recruiter to increase your chances of finding talented athlete.</div>
          </div>
          <div class="md:col-span-2 lg:col-span-1"></div>
        </div>
      </div>
      <div class="bg-blue-090C35 py-12">
        <div class="grid md:grid-cols-5 lg:grid-cols-2 md:px-12 lg:px-24">
          <div class="md:col-span-3 lg:col-span-1">
              <div class="flex gap-2">
                <div class="flex flex-col">
                  <div class="text-lg text-blue-5E3DB3">03</div>
                  <div class="border border-white rounded h-1 bg-white"></div>
                </div>
                <div class="text-4xl text-grey-C2C2C2">GROWTH</div>
              </div>
              <div class="text-xl mt-8 text-white">Save your time, recruit proper athlets for your team.</div>
          </div>
          <div class="md:col-span-2 lg:col-span-1"></div>
        </div>
      </div>
      <div class="absolute md:-right-64 md:top-10 lg:top-0 lg:right-0">
        <img class="relative md:w-[691px] md:h-[568px] lg:w-[991px] lg:h-[815px]" src="../assets/img/basketball.png" alt="basketball">
        <!-- <div class="absolute border-b-2 border-blue-5E3DB3 w-80 my-12 transform -rotate-45 bottom-56 left-56"></div> -->
      </div>
    </div>

    <div class="md:hidden">
      <div class="text-5xl text-grey-E7E7E7 px-8">ATHLETS</div>
      <div class="h-72 relative">
        <div class="absolute top-0 w-full h-full">
        <img class="w-[200px] md:h-[281px] mx-auto" src="../assets/img/footballer.png" alt="footballer">
      </div>
      </div>
      <div class="">
        <Swiper
          :modules="modules"
          :slides-per-view="auto"
          :pagination="{ clickable: true, dynamicBullets: true }"
        >
          <SwiperSlide>
            <div class="bg-white py-12">
              <div class="flex gap-2 px-12">
                <div class="flex flex-col">
                  <div class="text-lg">01</div>
                  <div class="border border-blue-603EBE rounded h-1 bg-blue-603EBE"></div>
                </div>
                <div class="text-3xl text-grey-C2C2C2">CONNECTION</div>
              </div>
              <div class="px-8 mt-5">Connect with coaches directly, you can ping coaches to view profile.</div>
            </div>
          </SwiperSlide>
          <SwiperSlide>
            <div class="bg-grey-F5F4F9 py-11">
              <div class="flex gap-2 px-8">
                  <div class="flex flex-col">
                    <div class="text-lg">02</div>
                    <div class="border border-blue-603EBE rounded h-1 bg-blue-603EBE"></div>
                  </div>
                  <div class="text-3xl text-grey-C2C2C2">COLLABORATION</div>
                </div>
                <div class="px-8 mt-5">Work with other student athletes to increase visability. When you share and like other players videos it will increase your visability as a player. This is the team work aspect to Surface 1.</div>
            </div>
          </SwiperSlide>
          <SwiperSlide class="">
            <div class="bg-blue-5E3DB3 py-14">
              <div class="flex gap-2 px-8">
                  <div class="flex flex-col">
                    <div class="text-lg">03</div>
                    <div class="border border-white rounded h-1 bg-white"></div>
                  </div>
                  <div class="text-3xl text-grey-C2C2C2">GROWTH</div>
                </div>
                <div class="px-8 mt-5 text-white">Resources and tools for you to get better as a student Athelte. Access to training classes, tutor sessions, etc</div>
            </div>
          </SwiperSlide>
        </Swiper>
      </div>
      <div class="text-5xl text-grey-E7E7E7 px-8 mt-8">PLAYERS</div>
      <div class="h-72 relative">
        <div class="absolute top-0 w-full h-full">
          <img class="w-[302px] md:h-[249px] mx-auto" src="../assets/img/basketball.png" alt="basketball">
        </div>
      </div>
      <div class="">
        <Swiper
          :modules="modules"
          :slides-per-view="auto"
          :pagination="{ clickable: true, bulletActiceClass: '!bg-orange-500 !opacity-100 scale-150' }"
        >
          <SwiperSlide>
            <div class="bg-white py-12">
              <div class="flex gap-2 px-8">
                <div class="flex flex-col">
                  <div class="text-lg">01</div>
                  <div class="border border-blue-603EBE rounded h-1 bg-blue-603EBE"></div>
                </div>
                <div class="text-3xl text-grey-C2C2C2">CONNECTION</div>
              </div>
              <div class="mt-8 px-8">Connect with coaches directly, you can ping coaches to view profile.</div>
            </div>
          </SwiperSlide>
          <SwiperSlide>
            <div class="bg-grey-F5F4F9 py-11">
              <div class="flex gap-2 px-8">
                  <div class="flex flex-col">
                    <div class="text-lg">02</div>
                    <div class="border border-blue-603EBE rounded h-1 bg-blue-603EBE"></div>
                  </div>
                  <div class="text-3xl text-grey-C2C2C2">COLLABORATION</div>
                </div>
                <div class="px-8 mt-8">Work with other student athletes to increase visability. When you share and like other players videos it will increase your visability as a player. This is the team work aspect to Surface 1.</div>
            </div>
          </SwiperSlide>
          <SwiperSlide>
            <div class="bg-blue-5E3DB3 py-14">
              <div class="flex gap-2 px-8">
                  <div class="flex flex-col">
                    <div class="text-lg">03</div>
                    <div class="border border-white rounded h-1 bg-white"></div>
                  </div>
                  <div class="text-3xl text-grey-C2C2C2">GROWTH</div>
                </div>
                <div class="px-8 mt-8 text-white">Resources and tools for you to get better as a student Athelte. Access to training classes, tutor sessions, etc</div>
            </div>
          </SwiperSlide>
        </Swiper>
      </div>
    </div>
  </div>
</template>

<script>
// import Swiper core and required modules
  import { Navigation, Pagination, Scrollbar, A11y, } from 'swiper/modules';
  // Import Swiper Vue.js components
  import { Swiper, SwiperSlide } from 'swiper/vue';
  
  // Import Swiper styles
  import 'swiper/css';
  import 'swiper/css/pagination';

  export default {
    components: {
      Swiper,
      SwiperSlide,
    },
    setup() {
      const onSwiper = (swiper) => {
        console.log(swiper);
      };
      const onSlideChange = () => {
        console.log('slide change');
      };
      return {
        onSwiper,
        onSlideChange,
        modules: [Navigation, Pagination, Scrollbar, A11y],
      };
    },
  };
</script>

<style scoped>

</style>
